label {
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
    display: block;
}

input {
    cursor: default;
    text-align: right;
    border-radius: 4px;
    border: 2px solid transparent;
    width: calc(100% - 10px);
    padding: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f9c9fa;
    color: #000000;
}

.password-input {
    margin-top: 20px;
    background-color: rgba(98, 105, 111, 0.158);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #fb86ff;
    text-align: center;
    align-items: initial;
}

.password-input input {
    cursor: text;
    text-align: left;
}