/* ProgressBar.css */
.progress-bar {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 5px;
    background-color: #fb86ff;
    width: 0;
    transition: width 0.1s ease-in-out;
}

/* 4caf50 */