/* Existing styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.sign-up-form {
  background-color: rgba(98, 105, 111, 0.158);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #f943ff;
  align-items: initial;
  height: 600px;
  width: 400px;
}

.sign-up-form h1 {
  color: #f943ff;
}

.sign-up-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sign-up-form form label {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  margin-left: 5px;
  display: block;
  width: 100%;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-group .input-group {
  flex: 1;
}

.input-group:not(:last-child) {
  margin-right: 8px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.form-group input {
  border-radius: 4px;
  border: 2px solid transparent;
  width: 100%;
  padding: 4px;
  margin-bottom: 0px;
  box-sizing: border-box;
  background-color: #fb86ff;
  color: #000000;
}

.sign-up-form input:focus {
  border-width: 2px;
  border-color: #f943ff;
  outline: none;
}

.sign-up-form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert colors for the calendar icon */
}

.errors-container {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.errors-container .visible {
  color: #cc000d;
  font-size: 0.7em;
  text-align: left;
}

.errors-container .invisible {
  visibility: hidden;
}

.option-login {
  margin-top: 20px;
}

.option-login p a {
  font-weight: 500;
  color: #f943ff;
  text-decoration: none;
}

.option-login p a:hover {
  text-decoration: underline;
}

.sign-up-form button {
  margin-top: 20px;
  width: 200px;
  align-self: center;
}